//RESPONSIVENESS

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// WIDTH
$max-width-tablet: 77rem;
$max-width-desktop: 102rem;

// COLOURS

$header-text: #7400b8;
$page-secondary: rgb(94,96,206);
$bgd: #0c0f0a;

$rum-primary: #5e60ce;
$rum-highlight: #5e60ce80;
$rum-hover: #6930c3;
// 5E60CE
$vodka-primary: #5390d9;
$vodka-highlight: #538fd980;
$vodka-hover: #4ea8de;
// 48BFE3
$gin-primary: #56cfe1;
$gin-highlight: #56cfe180;
$gin-hover: #64dfdf;

$tequila-primary: #72efdd;
$tequila-highlight: #72efdd80;
$tequila-hover: #80ffdb;

$text-light: rgb(238, 238, 238);
